
.column1 {
  float: left !important;
  width: 31.8% !important;
  padding: 30px !important;
  text-align: center !important;
  font-size: 25px !important;
  cursor: pointer !important;
  color: white !important;
  background-color: #8C0909 !important;
  margin: 7px !important;
  height: 100px !important;
  border-radius: 19px
} 
 
.containerTab {

  padding: 20px !important;
  color: white !important;
  display: none;
  background: lightslategray;
}
 
.row:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}
 
.closebtn {
  float: right !important;
  color: white !important;
  font-size: 35px !important;
  cursor: pointer !important;
}

.about {
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto';
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row {
  padding-bottom: 15px;
}
.slider{

}